/* resets */
* {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

button {
    border: none;
}

input:focus,
button:focus {
    outline: 0;
}


/* page styles */

:root {
    --main-size: 500px;
    --ligth-gray: rgb(239, 239, 239);
}

@media (min-height: 700px){
    :root {
        --main-size: 700px;
    }
}

html {
    width: 100vw;
    height: 100vh;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: 'Inconsolata', monospace;
    background-color: rgb(60, 61, 114);
}


#draw-invitation {
    align-self: center;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: white;
}

.grid-and-controls-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* control panel part */
#control-panel {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button {
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.8rem;
    background-color: var(--ligth-gray);
}

/* hiding spin arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    display: none;
}

input[type="number"] {
    -moz-appearance: textfield;
}


#resize-controls {
    display: flex;
    gap: 0.5rem;
}

#side-size-input {
    background-color: rgb(239, 239, 239);
    color: black;
    background-color: var(--ligth-gray);
    width: 3rem;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.75rem 0.5rem;
    border-radius: 0.8rem;
    border: none
}


/* grid part */
#cells-grid {
    display: flex;
    flex-wrap: wrap;
    width: var(--main-size);
    height: var(--main-size);
    border: 1px solid black;
}

/* cell must be unselecteable to not create drag of selected
elements behaviour */
.cell {
    user-select: none;
}